*{
    margin: 0;
    padding: 0;
}
/* first section design */
.bg-img{
    width: 100%;
    border-radius: 5px;
}
.first-section-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* first section design */